doctype html
html
  head
    meta(charset="utf-8")
    title #{title}
  body
    form(method=method action=action)
      .form-input
        label Title
        input(type="text" name="title")
      .form-input
        label Intro
        input(type="text" name="intro")
      textarea(rows="7" name="body")
      button save
